# Auto detect text files and perform LF normalization
* text=auto

# JavaScript
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf

# TypeScript
*.ts text eol=lf

# JSON
*.json text eol=lf

# HTML/CSS
*.html text eol=lf
*.css text eol=lf

# SQL
*.sql text eol=lf

# Markdown
*.md text eol=lf

# YAML/TOML
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

# Shell scripts
*.sh text eol=lf

# Binary
*.jpg binary
*.png binary
*.pptx binary
*.zip binary
